In [2]:
import pandas as pd

In [35]:
df = pd.read_csv("D:\Dados CVM\inf_diario_fi_2002.csv", sep = ';')

In [13]:
def dataTransformation(df):
    '''
    '''
    df['DT_COMPTC'] = pd.to_datetime(df['DT_COMPTC'])
    df['date'] = df['DT_COMPTC'].dt.strftime('%Y-%m')
    grouped_df = pd.DataFrame(df.groupby(['CNPJ_FUNDO', 'date'])['VL_QUOTA'].mean()).reset_index()
    pivoted_data = grouped_df.pivot(index = 'CNPJ_FUNDO', columns = 'date', values = 'VL_QUOTA').reset_index()
    del df, grouped_df
    return pivoted_data

def getRawData(year):
    if year >= 2005:
        final_df = pd.DataFrame()
        for month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
            temp_df = pd.read_csv("D:\Dados CVM\inf_diario_fi_{0}{1}.csv".format(year, month), sep = ';')
            final_df = final_df.append(temp_df)
    else:
        final_df = pd.read_csv("D:\Dados CVM\inf_diario_fi_{0}.csv".format(year), sep = ';')
    return final_df

def mergeData(df1, df2):
    merged_data = df1.merge(df2, on = 'CNPJ_FUNDO', how = 'outer')
    del d1, d2
    return merged_data

def getAllData():
    all_data = pd.DataFrame(columns = ['CNPJ_FUNDO'])
    for year in range(2002, 2023):
        df = getRawData(year)
        transformed_df = dataTransformation(df)
        all_data = mergeData(all_data, transformed_df)
        del df, transfomed_df
    return all_data

In [14]:
temp_df = getAllData()

In [18]:
temp_df.to_csv("investment_fund_data.csv")

In [11]:
df = getRawData(2004)
transformed_df = dataTransformation(df)

In [12]:
transformed_df

date,CNPJ_FUNDO,2004-01,2004-02,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12
0,00.000.432/0001-00,NaN,NaN,NaN,23.356715,23.721461,23.678019,23.029172,21.833793,19.758519,19.284284,18.445898,17.764798
1,00.000.744/0001-06,NaN,NaN,NaN,355.793291,358.889614,362.093744,365.401803,368.882546,372.233811,375.589715,379.002404,382.841078
2,00.000.746/0001-03,176.039397,163.470846,161.443194,159.113259,138.080357,146.925067,157.315727,162.000069,165.592350,170.263252,172.991905,184.774845
3,00.000.756/0001-30,NaN,NaN,NaN,2.592630,2.599040,2.605584,2.612262,2.619064,2.625765,2.632724,2.640146,2.648455
4,00.000.777/0001-56,NaN,NaN,NaN,5.632885,5.656308,5.695844,5.736896,5.772808,5.808158,5.843659,5.881958,5.926940
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6647,96.498.654/0001-66,4.010506,3.744142,3.710681,3.700892,3.165586,3.359848,3.609638,3.677610,3.746265,3.889454,3.999062,4.217488
6648,96.498.985/0001-04,8.796683,8.202180,8.179915,8.119644,6.973644,7.448417,7.977777,8.149846,8.283294,8.488927,8.694793,9.233900
6649,96.500.715/0001-82,NaN,NaN,NaN,59.775967,60.433808,61.115900,61.821594,62.550990,63.277150,63.990700,64.715005,65.530652
6650,97.261.093/0001-40,7.124599,6.754191,7.030200,7.128389,6.688468,7.294830,7.724013,8.249813,8.785279,9.029198,9.387522,10.157671
6651,97.402.457/0001-64,0.001317,0.001215,0.001213,0.001191,0.001021,0.001099,0.001199,0.001267,0.001332,0.001360,0.001388,0.001474

In [5]:
temp_df

,CNPJ_FUNDO,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,...,2004-03,2004-04,2004-05,2004-06,2004-07,2004-08,2004-09,2004-10,2004-11,2004-12
0,00.000.746/0001-03,NaN,NaN,113.312688,111.376760,105.304947,99.061181,90.163433,87.863360,89.607934,...,161.443194,159.113259,138.080357,146.925067,157.315727,162.000069,165.592350,170.263252,172.991905,184.774845
1,00.000.755/0001-96,2.217317,NaN,2.852641,2.848078,2.791909,2.644808,2.448664,2.360212,2.356582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00.016.991/0001-09,NaN,NaN,1.786730,1.721749,1.617981,1.499220,1.311866,1.228876,1.214351,...,2.494568,2.462819,2.103720,2.254775,2.414773,2.480101,2.529409,2.605373,2.685871,2.882038
3,00.017.015/0001-62,NaN,NaN,2.347460,2.306782,2.229312,2.119323,1.963247,1.883529,1.861092,...,3.294446,3.274517,2.898690,3.046550,3.223318,3.292042,3.349455,3.473126,3.544812,3.771424
4,00.017.023/0001-09,NaN,NaN,3.195592,3.106583,2.931389,2.746500,2.455157,2.338798,2.296473,...,5.077094,5.016495,4.326455,4.614861,4.879197,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6848,85.411.171/0001-66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.001063,0.001069,0.001075,0.001081,0.001087,0.001094,0.001100,0.001107,0.001116
6849,88.198.056/0001-43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,773.131126,764.273712,678.329232,701.593122,739.999840,763.729927,805.050323,862.318301,937.396361,978.939382
6850,96.480.579/0001-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.366774,0.370723,0.375600,0.380677,0.384809,0.389879,0.394861,0.399125,0.405033
6851,96.500.715/0001-82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,59.775967,60.433808,61.115900,61.821594,62.550990,63.277150,63.990700,64.715005,65.530652
6852,97.261.093/0001-40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.030200,7.128389,6.688468,7.294830,7.724013,8.249813,8.785279,9.029198,9.387522,10.157671

In [86]:
transformed_data1 = dataTransformation(df1)
transformed_data2 = dataTransformation(df2)

In [92]:
transformed_data1.merge(transformed_data2, on = 'CNPJ_FUNDO', how = 'outer')

date,CNPJ_FUNDO,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,...,2003-03,2003-04,2003-05,2003-06,2003-07,2003-08,2003-09,2003-10,2003-11,2003-12
0,00.000.746/0001-03,NaN,NaN,113.312688,111.376760,105.304947,99.061181,90.163433,87.863360,89.607934,...,98.512364,107.646643,117.062966,116.247771,113.746941,116.916059,129.472486,137.605110,144.459059,160.510567
1,00.000.755/0001-96,2.217317,NaN,2.852641,2.848078,2.791909,2.644808,2.448664,2.360212,2.356582,...,2.736754,2.939136,3.118675,3.125448,3.022817,NaN,NaN,NaN,NaN,NaN
2,00.016.991/0001-09,NaN,NaN,1.786730,1.721749,1.617981,1.499220,1.311866,1.228876,1.214351,...,1.310623,1.430129,1.537668,1.576656,1.583631,1.640225,1.880770,2.045279,2.128789,2.396701
3,00.017.015/0001-62,NaN,NaN,2.347460,2.306782,2.229312,2.119323,1.963247,1.883529,1.861092,...,2.016312,2.189971,2.220317,2.326444,2.290218,2.333970,2.587383,2.746437,2.844374,3.099402
4,00.017.023/0001-09,NaN,NaN,3.195592,3.106583,2.931389,2.746500,2.455157,2.338798,2.296473,...,2.541543,2.765465,2.979312,3.091015,3.111371,3.210930,3.694978,4.087724,4.349367,4.871909
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,05.941.170/0001-94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.148358,10.807624,12.113714
862,05.944.630/0001-38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.017309,1.118598
863,05.949.039/0001-73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,1020.390896,1156.574765
864,05.996.989/0001-59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.002696
865,42.510.966/0001-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.289447,0.292401,0.296667,0.304156,0.318795,0.328695,0.321365,0.343359

In [91]:
transformed_data1.shape

(820, 13)

In [90]:
transformed_data2.shape

(793, 13)

In [45]:
grouped_df = pd.DataFrame(df.groupby(['CNPJ_FUNDO', 'date'])['VL_QUOTA'].mean()).reset_index()

In [49]:
grouped_df.pivot(index = 'CNPJ_FUNDO', columns = 'date', values = 'VL_QUOTA').reset_index()

date,CNPJ_FUNDO,2002-01,2002-02,2002-03,2002-04,2002-05,2002-06,2002-07,2002-08,2002-09,2002-10,2002-11,2002-12
0,00.000.746/0001-03,NaN,NaN,113.312688,111.376760,105.304947,99.061181,90.163433,87.863360,89.607934,86.063707,93.752396,98.553579
1,00.000.755/0001-96,2.217317,NaN,2.852641,2.848078,2.791909,2.644808,2.448664,2.360212,2.356582,2.338669,2.550173,2.697728
2,00.016.991/0001-09,NaN,NaN,1.786730,1.721749,1.617981,1.499220,1.311866,1.228876,1.214351,1.165333,1.261754,1.334433
3,00.017.015/0001-62,NaN,NaN,2.347460,2.306782,2.229312,2.119323,1.963247,1.883529,1.861092,1.752698,1.862126,1.979490
4,00.017.023/0001-09,NaN,NaN,3.195592,3.106583,2.931389,2.746500,2.455157,2.338798,2.296473,2.206526,2.395958,2.574890
...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,88.002.696/0001-36,NaN,NaN,0.246191,0.239474,0.225916,0.210749,0.191660,0.180126,0.177866,0.167230,0.181897,0.192873
816,88.007.505/0001-29,NaN,NaN,1.476880,1.448787,1.373904,1.292252,1.186547,1.150401,1.161850,1.131438,1.206347,1.250304
817,96.498.654/0001-66,NaN,NaN,2.855997,2.758853,2.579009,2.425110,2.204035,2.111581,2.076102,1.926583,2.057744,2.153791
818,96.498.985/0001-04,NaN,NaN,5.598644,5.412113,5.056214,4.715704,4.141993,3.910542,3.856493,3.641879,3.970882,4.295820
819,97.402.457/0001-64,NaN,NaN,0.000855,0.000849,0.000832,0.000816,0.000772,0.000716,0.000724,0.000693,0.000717,0.000726

In [14]:
df.TP_FUNDO.value_counts()

FITVM          105690
FMP-FGTS        20578
FIC-FITVM       20578
FMP-FGTS CL      1743
Name: TP_FUNDO, dtype: int64